#  Лабораторна робота №2
### навчально-методичний додаток
***

## Завдання № 1 "Навігація в Jupyter Notebook"


- Продивитись __User Interface Tour__
- Відкрити [довідник команд](https://cheatography.com/weidadeyue/cheat-sheets/jupyter-notebook/pdf_bw/)
- користуючись довідником виконати операції, які наведено в наступних рядках

# перетворити цей рядок в рядок-коментар та ввести своє прізвище в форматі Title-2

## Демченко

### додати знизу пустий рядок

In [2]:
# відключити в цьому рядку нумерацію строк

### Додати до цього рядка зверху 2 рядка:
1. Командний рядок
2. Рядок коментарів

## Завдання №2 " Конструкції Python"
- заповнити пусті рядки вашим рішенням

### Змінні

Ім'я, яке використовується для позначення чогось або значення, називається **змінною**. У python можна оголошувати змінні і присвоювати йому значення наступним чином:

- x = 10             
- y = -3.1428         
- s = "Вася Пупкін"
- a = [x, y, s]
- b = False
- t = (y, "Студент")

---
_[Прочитати про типи даних](http://python.in.net/tutorial/zmіnnі-і-typy-danyh-python)_

Тип даних можна перевірити наступною інструкцією: `type(<імя змінної>)`

In [ ]:
# виконайте присвоювання та виведіть типи даних x, y, s, b, t:

In [2]:
x = 20

In [3]:
type(x)

int

In [10]:
y = 5.41

In [11]:
type(y)

float

In [6]:
s = "Демченко Віталій"

In [7]:
type(s)

str

In [8]:
a = [x,y,s]

In [9]:
type(a)

list

In [12]:
b = True

In [13]:
type(b)

bool

In [14]:
t = (x,"Knute")

In [15]:
type(t)

tuple

### Опрератори

#### арифметичні

| Позначка | Виконує |
|----|---|
| +  | Додавання |
| -  | Віднімання |
| /  | поділ |
| %  | остаток від ділення |
| *  | множення |
| //  | цілочісельне ділення |
| **  | ступінь |

In [9]:
# застосуйте вищенаведені оператори до `x` та `y`:

In [16]:
x + y

25.41

In [17]:
x - y

14.59

In [18]:
x/y

3.696857670979667

In [19]:
x%y

3.7699999999999996

In [29]:
x*y

NameError: name 'y' is not defined

In [21]:
x//y

3.0

In [22]:
x**y

10928794.922171166

#### порівняння
| Позначка | Результат |
|----|---|
| == | True, якщо рівні |
| !=  | True, якщо не рівні |
| < | менше |
| > | більше |
| <=  | менше чи равно |
| >=  | більше чи равно |

In [ ]:
# застосуйте вищенаведені оператори до `x` та `y`:

In [23]:
x == y

False

In [24]:
x != y

True

In [25]:
x < y

False

In [26]:
x > y

True

In [27]:
x <= y

False

In [29]:
x >= y

True

### Вбудовані функції перетворення типів
1. str(<змінна чи вираз>) - перетворення в строку
2. int(<змінна чи вираз>) - перетворення в ціле
3. float(<змінна чи вираз>) - перетворення в дийсне число

[Прочитати про інші функції перетворення типів](https://pyneng.readthedocs.io/ru/latest/book/04_data_structures/9_convert_type.html)

In [ ]:
# застосуйте (1) функцію до змінних 'x' - 't' , (2) до `x` - 's', (3) - `x` - `y`
# (якщо будуть помилки - виправте їх самотуж)

In [30]:
str(x)

'20'

In [31]:
str(y)

'5.41'

In [32]:
str(s)

'Демченко Віталій'

In [35]:
str(a)

"[20, (5, 41), 'Демченко Віталій']"

In [33]:
str(b)

'True'

In [34]:
str(t)

"(20, 'Knute')"

In [36]:
int(x)

20

In [37]:
int(y)

5

In [39]:
float(x)

20.0

In [40]:
float(y)

5.41

In [17]:
pkls = [False, False, False]

In [18]:
type(pkls)

list

## Завдання №3 "Введення/вивід з консолі"

- __input__([символьний вираз]) - введення с консолі в _символьному форматі_ (__STDIN__) 
- __print__(<вираз>) - виведення в консоль (__STDOUT__)

Для зчитування рядка зі стандартного вводу використовується функція input (), яка зчитує рядок з клавіатури і повертає значення, яке відразу ж можна привласнити змінним:
`s = input()`

Функція `input` повертає текстовий рядок. Якщо потрібно зробити так, щоб змінні мали чисельні значення, то відразу ж після зчитування виконаємо перетворення типів за допомогою функції `int` або `float`, і запишемо нове значення:
`s1 = int(s)`

Краще об'єднати зчитування рядків і перетворення типів, якщо викликати функцію int/float для того значення, яке поверне функція input ():
`s = int(input())`

In [ ]:
# ввести з консолі число 2.71 в змінну 'e'
е = ...

In [12]:
e = input("введи число ")

введи число 2.71

In [13]:
type(e)

str

In [15]:
e1 = float(e)

In [ ]:
# вивести в консоль 'е' в супені 5

In [17]:
e1 ** 5

146.1660310351

#### форматування  при виведенні
у Python для позначення рядка використовуються одинарні, подвійні та потрійні лапки. Більшість використовують одинарні лапки при оголошенні одного символу. Подвійні лапки при оголошенні рядка та потрійні лапки при оголошенні абзацу / кількох рядків.

- 'A' - одиночний символ
- "Студент Вася" - рядок символів
- """ Перший рядок 
    
      Другий рядок
      
      ..."""

In [ ]:
# Рядки можуть бути призначені змінним наприкалд `name` та `surname`, 
# які можна викликати при використанні оператора print.
# Виконайте код, який наведено нижче
name = "Вася"
surname = "Пупкін"
print (name, surname)
print("1+1", 2, sep=" -> ")

In [1]:
name = "Віталій"

In [2]:
surname = "Демченко"

In [3]:
print (name, surname)

Віталій Демченко

In [4]:
print("1=1", 2, sep=" -> ")

1=1 -> 2

Напишіть нижче, для чого нужна '`,`' та `sep` в функції `print()`:

...

In [ ]:
"," розділяє окремі елементи
sep контролює те,  який роздільник буде використовуватись між елементами

### форматування в функції `print()`

[Прочитати про методи форматування вивода](https://pyneng.readthedocs.io/ru/latest/book/04_data_structures/4b_string_format.html)

In [5]:
# виконати код та розібратись, чому функція `print()...format` спрацювала таким чином
print("{} {} - це студент".format(name, surname))
print("Результат буде = {}".format(42 / 5 + 4))
b = True
print("{} - {} хлопець!".format(name, b))
print("{} {}".format(surname, name))

Віталій Демченко - це студент
Результат буде = 12.4
Віталій - True хлопець!
Демченко Віталій

## Завдання №4 "Керування обчисленнями"

### Умовний оператор if / if-else / if-elif

`if <логічний вираз(умова)> :
  <код>`
  
`if <логічний вираз(умова)> :
  <код>
 else :
    <код>`

`if <логічний вираз(умова)> :
  <код>
 elif <логічний вираз_1(умова)> :
  <код>
 elif <логічний вираз_2(умова)> :
  <код>
... 
 [else] :
   <код>`

In [9]:
x = int(input("Введи x: "))

# ----- 1 ----------
if x > 5:
    print (x)
    
# ----- 2 ----------    
if -5 < x < 5 :
    print (x)
else:
    print (x ** 2)
    
# ----- 3 ----------
if x > -5:
    print (x)
elif -5 < x < 5:
    print (x ** 2)
elif x > 5:
    print (x ** (1/2))

Введи x: 4
4
4

напишіть, який __if__ спрацював при:

x = -20     ....

x = 31.5    ....

x = 4       ....

In [ ]:
при x = -20 if видав 400

In [ ]:
при x = 31.5 if видав помилку

In [ ]:
при x = 4  видав
4
4

In [ ]:
# напишить нижче код, який виводить слово 'студент', 'школяр' або 'малятко' 
# в залежності від введенного через консоль віку

...

In [25]:
x = int(input("Введи x: "))

# ------- 1 -----
if 0 < x <= 7 :
    print("Малятко")

# ------- 2 -----
if 8 <= x <= 17 :
    print("Школяр")
    
# -------- 3 -----
if 18 <= x <= 23 :
    print("Студент")

Введи x: 18
Студент

### Цикли

#### for

`for <змінна> in <перераховуємий об'єкт>
    код`
    
    
__перераховуємий об'єкт__ - це об'єкт, який складається із декількох послідовних складових (чисел, строк та ін.)

- 1, 13, -10, 321
- "Вася", "Пупкін", "студент"
- "Вася", -10.1, True

[Прочитати про функцію `range`](https://python-scripts.com/range)

In [26]:
# приклад цикла з 'for' та 'if'
for i in range(10):
    if i % 2 != 0:
        print (-i)
    else:
        pass

-1
-3
-5
-7
-9

напишить своїми словами, що виконує наведений вище код

...

In [ ]:
 код виводить непарні числа

In [11]:
# напишіть нижче код, який сумує числа, які діляться без остатка на 3 
# в інтервалі від 10 до 100

In [4]:
for i in range(10,100):
    if i % 3 == 0:
        print (i)
    else:
        pass

12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

#### while

[прочитати про цикл while](http://python.in.net/tutorial/tsykly)

In [2]:
# запустіть цей код 
while(input("тисни тут: ") != '0'):
    print ("було введено")

тисни тут: 2
було введено
тисни тут: 3
було введено
тисни тут: 5
було введено
тисни тут: 0

поясніть своїми словами, що виконує наведений вище код

...

In [ ]:
виводить на екран "було введено" якщо ввести будь-яке слово, окрім 0 тобто якщо ввести 0 - то цикл завершиться

In [ ]:
# використовуючи 'while`напишіть нижче код, який сумує числа, 
# які діляться без остатка на 3 в інтервалі від 10 до 100

In [ ]:
while  i in range(10,100):
    if i % 3 == 0:
        print(i)
    else:
        pass

## Виконану роботу перешліть через Teams викладачу